@charset "UTF-8";
/*------------------GERAL----------------------*/
*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
img {
    min-width: 200px;
    max-width: 350px;
    display: block;
    padding: 10px;

}

/*-------------------MENU--------------------*/

body {
    background-repeat: 1;
    background-image: url(imagens/background.jpg);
    background-size: 100%;
}
#menu {
    background-color: rgb(165 205 192 / 80%);;
    padding: 6px;
    width: 100%;
    display: inline-flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    list-style: none; 
}

/*--------------------HEADER------------------*/

.section__titulo {
    text-align: center;
    font-family: 'PT Serif', serif;
    color: #ffffff;
    font-size: 20px;
    background-color: rgb(195 63 13 / 80%);
    width: 30%;
    box-shadow: -3px 2px 3px black;
    border-radius: 3px;
    text-shadow: 3px 2px 2px #000000;
}
.section__principal {
    text-align: center;
    font-family:'Amatic SC', cursive;
    color: white;
    text-shadow: 3px 2px 2px rgb(183 48 39);
    font-size: 40px;
    padding: 10px;
}

#link {
    color: rgb(255, 60, 0);
}
#link:hover {
    background-color: rgb(165 205 192);
    width: 100%;
}
a {
    color:#ffffff;
    text-decoration: none;
    transition-duration: 0.5s;
    
}

a:hover {
    color: rgb(255, 60, 0);
}

header {
   text-align: center;
    background-color: rgb(165 205 192 / 36%);
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    margin-top: 10px;
}

/*------------------MAIN------------------*/

main {
    background-color: rgb(165 205 192 / 36%);
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    margin: auto;
}

p {
    font-family: 'PT Serif', serif;
    color: #ffffff;
    font-size: 15px;
    text-align: justify;
    margin: 20px 0px;
    text-indent: 20px;
    
}

/*----------------IMAGENS-----------------*/

#gaara1 {
   width: 300px;
}

#gaaragif {
    float: right;
    width: 300px;
    margin: 0px 20px;
    padding: 5px;
    margin-top: 10px;
}

 #gaara2 {
    width: 250px;
    float: left;
    margin: 0px 20px;
    padding: 10px;
}

 /*-------------------HISTORIA---------------------*/
  

 #topicos {
    background-color: rgb(182 66 24 / 40%);
    padding: 10px;
    display: flex;
 }

#historia {
    background-color: rgb(165 205 192 / 36%);
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    
 }

 #video {
     padding: 10px;
    display: block;
    margin-left: auto;
 }

 /*---------------------QUIZ-----------------*/

 #quiz {
    background-color: rgb(165 205 192 / 36%);
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    font-family: 'PT Serif', serif;
    color: #ffffff;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    
 }

/*---------------REFERENCIAS-----------------*/

#referencias {
    background-color: rgb(165 205 192 / 36%); 
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    font-family: 'PT Serif', serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}